<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>

        {{#each students}}
        <li><a href='/student/{{_id}}'>{{name}} </a>- {{city}}        <a href="/student/update/{{_id}}">update</a>  <a href="/student/delete/{{_id}}">delete</a>   </li>
        

        <br>
        {{/each}}
    </ul>

</body>

</html>